@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Quicksand;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .home-btn {
    @apply px-3 py-2 border-black border hover:bg-black hover:text-white transition-all ease-linear  duration-200 rounded-sm focus:outline-none;
    min-width: 8rem;
    min-height: 42px;
  }
}
